<div class="row" ng-controller="adminProduct">
    <% include public/modal %>
    <div class="col-xs-12">
        <div class="panel">
            <a href="#addNewAdminUser" role="button" class="btn btn-primary btn-sm" data-toggle="modal"><span class="fa fa-plus-square" aria-hidden="true">&nbsp;</span> 新增广告</a>
            <% include public/tableTool %>
            <div class="pull-right">
                <% include public/searchBox %>
            </div>
        </div>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" class="mini" id="selectAll"/></th>
                        <th>名称</th>
                        <th>路径</th>
                        <th>操作</th>
                    </tr>
                    <tr class="datalist" ng-repeat="ad in data">
                        <td><input type="checkbox" name="listItem" class="mini" value="{{ad._id}}" ng-click="getNewIds()"/></td>
                        <td class="  sorting_1">{{ad.name}}</td>
                        <td class="  sorting_1">{{ad.path}}</td>
                        <td class=" ">
                            <button class="btn btn-primary btn-xs" data-whatever="{{ad._id}}" data-toggle="modal" data-target="#addNewAdminUser"><span class="fa fa-fw fa-edit" aria-hidden="true"></span>修改</button>&nbsp;
                            <button class="btn btn-danger btn-xs" ng-click="delOneItem(product._id)"><span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>删除</button>
                        </td>
                    </tr>
                </table>

            </div><!-- /.box-body -->
            <div class="box-footer">
                <!--分页-->
                <% include public/pagination %>
            </div>
            <div class="overlay hide" id="dataLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.box -->

    </div><!-- /.col -->

    <!--添加广告模态窗口-->
    <div class="modal fade" id="addNewAdminUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增/修改 广告</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" name="myForm"  method="POST" action="/admin/manage/ad" enctype="multipart/form-data">
                        <input  hidden id="targetId" name="targetId" ng-model="formData._id"/>
                        <div class="form-group">
                            <label class="control-label col-sm-4">名称</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="input-username" name="name" ng-model="formData.name" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_]{1,11}$/" required/>
                                <label for="inputError" class="control-label text-danger" ng-show="myForm.name.$invalid && !myForm.name.$pristine"><i class="fa fa-times-circle-o"></i> 4-12 个字母或数字</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">路径</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="input-price" name="path" ng-model="formData.path" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">图片</label>
                            <div class="col-sm-6">
                                <input type="file" class="filestyle" name="photo" ng-model="formData.img">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">提交</button>
                        </div>
                    </form>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- /.row -->

<script>
    App.controller( "adminProduct", function ( $scope, $http ) {
        $scope.formData = {};
        $scope.object_type = '<%=bigCategory%>';
        //获取广告列表信息
        initPagination( $scope, $http, $scope.object_type, "<%=searchKey%>" );
        //删除广告
        initDelOption( $scope, $http, $scope.object_type, "<%=searchKey%>", '您确定要删除选中的选项? ' );
        // 修改广告
        $('#addNewAdminUser').on( 'show.bs.modal', function ( event ) {
            var obj = $( event.relatedTarget );
            var editId = obj.data( 'whatever' );
            if ( editId ) {
                $( "#input-username" ).attr( 'disabled', true );
                // 如果不为空则为编辑状态
                $http.get( "/admin/api/v1/" + $scope.object_type + "/" + editId ).success( function ( result ) {
                    $scope.formData = result;
//                    console.log(editId);
//                    console.log($scope.formData.targetId);
                    console.log($scope.formData);
                });
            } else {
                $( "#input-username" ).removeAttr( 'disabled' );
                $scope.formData = { };
            }

        }).on( 'hidden.bs.modal', function ( e ) {
            // 清空数据
            $scope.formData = { };
            $scope.targetID = "";
            $( this ).find( ".form-control" ).val( "" );
            $( "#adminUserInfo" ).addClass( "hide" );
        });

        // 添加新广告或修改广告
        $scope.processForm = function ( isValid ) {
            var url = "/admin/api/v1/" + $scope.object_type,
                    method = 'POST';
            if ( $scope.targetID ) {
                url = url + "/" + $scope.targetID;
                method = 'POST';
            }
            console.log($scope.formData);

            angularHttp( $http, isValid, method, url, $scope.formData, function ( data ) {
                initPagination( $scope, $http, $scope.object_type, "<%=searchKey%>" );
            });

        };

    });

</script>
