<div class="row" ng-controller="adminProduct">
    <% include public/modal %>
    <div class="col-xs-12">
        <div class="panel">
            <a href="#addNewAdminUser" role="button" class="btn btn-primary btn-sm" data-toggle="modal"><span class="fa fa-plus-square" aria-hidden="true">&nbsp;</span> New User</a>
            <% include public/tableTool %>
            <div class="pull-right">
                <% include public/searchBox %>
            </div>
        </div>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" class="mini" id="selectAll"/></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Operation</th>
                    </tr>
                    <tr class="datalist" ng-repeat="product in data">
                        <td><input type="checkbox" name="listItem" class="mini" value="{{product._id}}" ng-click="getNewIds()"/></td>
                        <td class="  sorting_1">{{product.name}}</td>
                        <td class="  sorting_1">{{product.price}}</td>
                        <td class="  sorting_1">{{product.amount}}</td>
                        <td class="  sorting_1">{{product.category}}</td>
                        <td class=" ">
                            <button class="btn btn-primary btn-xs" data-whatever="{{product._id}}" data-toggle="modal" data-target="#addNewAdminUser"><span class="fa fa-fw fa-edit" aria-hidden="true"></span>Edit</button>&nbsp;
                            <button class="btn btn-danger btn-xs" ng-click="delOneItem(product._id)"><span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>Delete</button>
                        </td>
                    </tr>
                </table>

            </div><!-- /.box-body -->
            <div class="box-footer">
                <!--分页-->
                <% include public/pagination %>
            </div>
            <div class="overlay hide" id="dataLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.box -->

    </div><!-- /.col -->

    <!--添加新用户模态窗口-->
    <div class="modal fade" id="addNewAdminUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New/Edit Product</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" name="myForm"  method="POST" action="/admin/manage/product" enctype="multipart/form-data">
                        <input  hidden id="targetId" name="targetId" ng-model="formData._id"/>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="input-username" name="name" ng-model="formData.name"  required/>
                                <label for="inputError" class="control-label text-danger" ng-show="myForm.name.$invalid && !myForm.name.$pristine"><i class="fa fa-times-circle-o"></i> 4-12 letters</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Price</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="input-price" name="price" ng-model="formData.price" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Amount</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="input-amount" name="amount" ng-model="formData.amount" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Category</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="category" ng-model="formData.category">
                                    <option ng-repeat="categoryFind in categorys">{{categoryFind.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Images</label>
                            <div class="col-sm-6">
                                <input type="file" class="filestyle" name="photos" ng-model="formData.img1">
                                <input type="file" class="filestyle" name="photos" ng-model="formData.img2">
                                <input type="file" class="filestyle" name="photos" ng-model="formData.img3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Desribe</label>
                            <div class="col-sm-6">
                                <textarea name="describe" ng-model="formData.describe" ng-minlength="0" ng-maxlength="30" id="" cols="30" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                    </form>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- /.row -->

<script>
    App.controller( "adminProduct", function ( $scope, $http ) {
        $scope.formData = {};
        $scope.categorys=[];
        $scope.object_type = '<%=bigCategory%>';
        $http.get( "/admin/api/v1/" + "category" + "/").success( function ( result ) {
            $scope.categorys = result.docs;
            console.log($scope.categorys);
        });
        //获取用户列表信息
        initPagination( $scope, $http, $scope.object_type, "<%=searchKey%>" );

        //删除用户
        initDelOption( $scope, $http, $scope.object_type, "<%=searchKey%>", 'Are you sure you want to delete the selected item? ' );

        // 修改用户
        $('#addNewAdminUser').on( 'show.bs.modal', function ( event ) {
            var obj = $( event.relatedTarget );
            var editId = obj.data( 'whatever' );
            if ( editId ) {
                $( "#input-username" ).attr( 'disabled', true );
                // 如果不为空则为编辑状态
                $http.get( "/admin/api/v1/" + $scope.object_type + "/" + editId ).success( function ( result ) {
                    $scope.formData = result;
//                    console.log(editId);
//                    console.log($scope.formData.targetId);
                    $("targetId").attr("value",'aaaa');
                    console.log($scope.formData);
                });
            } else {
                $( "#input-username" ).removeAttr( 'disabled' );
                $scope.formData = { };
            }

        }).on( 'hidden.bs.modal', function ( e ) {
            // 清空数据
            $scope.formData = { };
            $scope.targetID = "";
            $( this ).find( ".form-control" ).val( "" );
            $( "#adminUserInfo" ).addClass( "hide" );
        });

        // 添加新用户或修改用户
        $scope.processForm = function ( isValid ) {
            var url = "/admin/api/v1/" + $scope.object_type,
                    method = 'POST';
            if ( $scope.targetID ) {
                url = url + "/" + $scope.targetID;
                method = 'POST';
            }
            console.log($scope.formData);

            angularHttp( $http, isValid, method, url, $scope.formData, function ( data ) {
                initPagination( $scope, $http, $scope.object_type, "<%=searchKey%>" );
            });

        };

    });

</script>
