<footer class="">
    <div class="container">
        <ul class="nav">
            <li><a href="#">联系我们</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Friend Link</a></li>
            <li><a href="#">Disclaimer</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="copyright text-center">
            Copyright &copy; 2016 <a href="/"><b>ISHOP</b>.com Online Mall.</a> All rights reserved.
        </div>
    </div>
</footer>
