<div class="bg-light">
    <div class="wrap1190 top bg-f5">
    <% if ( logined ) { %>
        <div class="btn-group">
            <!-- username -->
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <%=userInfo.username%>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu col-md-2">
                <li><a href="/user/manage/profile" class="btn">账户信息</a></li>
                <li><a href="/user/logout" class="btn logout"><i class="fa fa-sign-out"></i>登出</a></li>
            </ul>
        </div>
        <!-- message -->
    <% } else { %>
        <!-- Sign in / up -->
        <div class="btn-group">
            <a class="btn btn-top" type="button" href="/user/login">
                <i class="fa fa-sign-in"></i>
                登录
            </a>
        </div>
        /
        <div class="btn-group">
            <a class="btn btn-top red" type="button" href="/user/login#register">
                注册
            </a>
        </div>
    <% } %>

        <!-- cart -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-shopping-cart"></i>
                购物车
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu cart">
                <li><a href="/user/manage/cart">我的购物车</a></li>
            </ul>
        </div>
        <!-- mine -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-gear"></i>
                我的
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/user/manage/order">我的订单</a></li>
                <li><a href="/user/manage/profile">我的信息</a></li>
                <!--<li><a href="/user/manage/comment">我的评论</a></li>-->
            </ul>
        </div>
        <!-- home-->
        <div class="btn-group pull-right">
            <a class="btn" type="button" href="/">
                <i class="fa fa-home"></i>
                主页
            </a>
        </div>
    </div>
</div>
<header class="nav bg-default">
    <div class="wrap1190">

        <div class="search pull-right">
            <form class="form form-inline" action="/search" type="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="搜索..." style="width: 250px;" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit">搜索</button></span>
                </div>
            </form>
        </div>
    </div>
</header>

<script>
    $( function () {

        // Dropdown-auto-expand-collapse
        $("a[data-toggle='dropdown']", "div.top, div.nav").mouseenter( function () {
            $( this ).siblings( 'ul' ).dropdown('toggle');
        }).mouseleave( function () {
            var a = this;
            $( this ).siblings( 'ul' ).mouseleave( function () {
                $( this ).dropdown('toggle');
                var ul = this;
                $( a ).mouseleave( function () {
                    $( ul ).dropdown('toggle');
                });
            });
        });

        // resolve dropdown anchor disabled
        $( "ul.dropdown-menu li a", "div.top" ).click( function () {
            window.location = $( this ).attr( 'href' );
        });


    });
</script>
