<div class="container" ng-controller="MyOrder">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <legend><%=title%>
            <small class="pull-right text-success hide"><i class="fa fa-info"></i> <span id="successInfo"></span></small>
            <small class="pull-right text-danger hide"><i class="fa fa-info"></i> <span id="errorInfo"></span></small>
        </legend>
        <div class="box orders">
            <div class="panel" ng-repeat="orderItem in data" ng-class="{ '已确认': 'panel-default', '已支付': 'panel-info', '已发货': 'panel-warning','已收货': 'panel-success','已申请退货': 'panel-danger', '已同意退货': 'panel-danger','已退货成功': 'panel-danger'}[orderItem.state]">
                <div class="panel-heading" style="height:40px;">
                    <div class="col-xs-4">
                        <span>[{{orderItem.created | date: 'MM/dd/yyyy'}}] 订单号: {{orderItem._id}}</span>
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <a class="pull-right {{orderItem._id}}" href="#" data-toggle="popover"><i class="fa fa-fw fa-caret-left"></i> 状态: {{orderItem.state}}</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>名称</th>
                                <th>单价</th>
                                <th>数量</th>
                            </tr>
                            <tr class="datalist" ng-repeat="item in orderItem.products">
                                <td class="col-sm-6"><img src="/{{item.img[0]}}" style="width: 60px;height:60px;margin-right:10px;"/><a href="/product/{{item._id}}">{{item.name}}</a></td>
                                <td class="col-sm-3" style="vertical-align:middle;">{{item.price | currency: '￥'}}</td>
                                <td class="col-sm-3" style="vertical-align:middle;">{{item.count}}</td>
                            </tr>
                            <tr>
                                <td>地址: {{orderItem.address}}</td>
                                <td>收货人: {{orderItem.name}}</td>
                                <td>电话: {{orderItem.phone}}</td>
                            </tr>
                            <tr>
                                <td><h4 class="text-danger">总价: {{orderItem.total | currency: '￥'}}</h4></td>
                                <td></td>
                                <td colspan="1" ng-switch="orderItem.state">
                                    <h4 class="text-info" ng-switch-when="未确认"><button type="button" class="btn btn-primary" ng-click="submit(orderItem._id)">提交订单</button></h4>
                                    <h4 class="text-info" ng-switch-when="已确认"><button type="button" class="btn btn-primary" ng-click="pay(orderItem._id)">支付</button></h4>
                                    <h4 class="text-info" ng-switch-when="已支付"></h4>
                                    <h4 class="text-info" ng-switch-when="已发货"><button type="button" class="btn btn-primary" ng-click="received(orderItem._id)">收货</button></h4>
                                    <h4 class="text-info" ng-switch-when="已收货"><button type="button" class="btn btn-primary" ng-click="return(orderItem._id)">退货</button></h4>
                                    <h4 class="text-info" ng-switch-when="已申请退货"></h4>
                                    <h4 class="text-info" ng-switch-when="已同意退货"></h4>
                                    <h4 class="text-info" ng-switch-when="已退货成功"></h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <% include ../public/pagination %>
            </div>
        </div>
        <% include ../public/modal %>
    </div>


</div><!-- div.container END -->

<script>

    $(function () {
        $("div.input-daterange input").each(function () {
            $(this).datepicker({format: 'mm/dd/yyyy'});
        });
    });

    App.controller("MyOrder", function ($scope, $http) {
        var url = '/api/v1/order';
        var nState = 5;

        initPage($scope, $http, url, true, loadProducts);
        $scope.load = function () {
            loadData($scope, $http, url, loadProducts);
        };

        function loadProducts(result) {
            console.log("$scope.data:");
            console.log($scope.data);
            if (typeof result === 'object') {
                for (var i = 0; i < $scope.data.length; i++) {

                    for (var j = 0; j < $scope.data[i].products.length; j++) {
                        var product = $scope.data[i].products[j];
                        (function (i, j) {
                            $http.get('/api/v1/product/' + product.product_id).success(function (result) {
                                if (typeof result === 'object') {
                                    $.extend($scope.data[i].products[j], result);

                                    // status popover

                                    switch($scope.data[i].state){
                                        case -1:
                                            $scope.data[i].state='未确认';
                                            break;
                                        case 0:
                                            $scope.data[i].state='已确认';
                                            break;
                                        case 1:
                                            $scope.data[i].state='已支付';
                                            break;
                                        case 2:
                                            $scope.data[i].state='已发货';
                                            break;
                                        case 3:
                                            $scope.data[i].state='已收货';
                                            break;
                                        case 4:
                                            $scope.data[i].state='已申请退货';
                                            break;
                                        case 5:
                                            $scope.data[i].state='已同意退货';
                                            break;
                                        case 6:
                                            $scope.data[i].state='已退货成功';
                                            break;
                                    }
                                    // status popover
                                    var order = $scope.data[i],
                                            state = order.state,
                                            html = '';
                                    function format(date) {
                                        return new Date(date).toString().substring(4, 24);
                                    }
                                    if (order.created) {
                                        html += '<p>提交日期: </p><p>' + format(order.created) + '</p>';
                                    }

                                    $("a." + order._id).popover({
                                        trigger: 'hover',
                                        title: '日期',
                                        content: html,
                                        html: 'true',
                                        placement: 'left'
                                    });
                                } else {
                                    showErrorInfo('get product(' + $scope.data[i].products[j]._id + ') error');
                                }
                            });
                        })(i, j);
                    } // for-products
                } // for-data

            }
        };

        $scope.submit=function(orderId){
            console.log(orderId);
            angularHttp($http,'POST', '/api/v1/order/'+orderId+'/confirm',{}, function (data) {
                if (data === 'success') {
                    console.log('success');
                }
            });
            window.location = "/user/manage/order";
        };
        $scope.pay=function(orderId){
            console.log(orderId);
            angularHttp($http,'POST', '/api/v1/order/'+orderId+'/pay',{}, function (data) {
                if (data === 'success') {
                    console.log('success');
                }
            });
            window.location = "/user/manage/order";
        };
        $scope.received=function(orderId){
            console.log(orderId);
            angularHttp($http,'POST', '/api/v1/order/'+orderId+'/received',{}, function (data) {
                if (data === 'success') {
                    console.log('success');
                }
            });
            window.location = "/user/manage/order";
        };
        $scope.return=function(orderId){
            console.log(orderId);
            angularHttp($http,'POST', '/api/v1/order/'+orderId+'/return',{}, function (data) {
                if (data === 'success') {
                    console.log('success');
                }
            });
            window.location = "/user/manage/order";
        }

    });

</script>
