<div class="container" ng-controller="MyProfile">
    <div class="col-xs-2">
        <% include sidebar.ejs %>
    </div>
    <div class="col-xs-10">
        <legend><%=title%></legend>
        <div class="profile">
            <ul class="nav nav-tabs" role=tablist>
                <li role="presentation" class="active"><a href="#profile" aria-control="profile" role="tab" data-toggle="tab">账户信息</a></li>
                <li role="presentation" class=""><a href="#password" aria-control="password" role="tab" data-toggle="tab">修改密码</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <form class="form form-horizontal" name="profileForm" ng-submit="processProfileForm(profileForm.$valid)" novalidate>
                        <div class="alert alert-success alert-dismissible hide" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>成功!</strong> 您的账户信息修改成功
                        </div>
                        <div class="alert alert-danger alert-dismissible hide" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Error!</strong> <span class="text">保存成功.</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">用户名: </label>
                            <div class="input-group col-sm-6">
                                <input name="name" type="text" class="form-control" ng-model="profileData.name"  disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">电话: </label>
                            <div class="input-group col-sm-6">
                                <input name="phone" type="text" class="form-control" ng-model="profileData.phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">地址:</label>
                            <div class=" input-group col-sm-6">
                                <textarea name="address" ng-model="profileData.address" ng-minlength="0" ng-maxlength="30" id="" cols="30" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr/>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div><!-- End profile-tab -->
                <div role="tabpanel" class="tab-pane" id="password">
                    <form class="form form-horizontal" name="passwordForm" ng-submit="processPwdForm(passwordForm.$valid)">
                        <div class="alert alert-success alert-dismissible hide" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>成功!</strong> 您的密码已修改成功.
                        </div>
                        <div class="alert alert-danger alert-dismissible hide" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>错误!</strong> <span class="text">修改密码失败</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">密码: </label>
                            <div class="input-group col-sm-6">
                                <input type="password" name="originalPwd" class="form-control" ng-model="profileData.password" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">旧密码: </label>
                            <div class="input-group col-sm-6">
                                <input type="password" name="oldPwd" class="form-control" ng-minlength="4" ng-maxlength="18" ng-model="passwordData.oldPwd" placeholder="请输入旧密码"/>
                                <label for="inputError" class="control-label text-danger" ng-show="passwordForm.oldPwd.$invalid && !passwordForm.oldPwd.$pristine"><i class="fa fa-times-circle-o"></i> 4-18 个字母或数字</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">新密码: </label>
                            <div class="input-group col-sm-6">
                                <input type="password" name="newPwd" id="input-newPwd" class="form-control" ng-minlength="4" ng-maxlength="18" ng-model="passwordData.newPwd"/>
                                <label for="inputError" class="control-label text-danger" ng-show="passwordForm.newPwd.$invalid && !passwordForm.newPwd.$pristine"><i class="fa fa-times-circle-o"></i> 4-18 个字母或数字<</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">确认新密码: </label>
                            <div class="input-group col-sm-6">
                                <input type="password" name="confirmNewPwd" pw-check="input-newPwd" class="form-control" ng-minlength="4" ng-maxlength="18" ng-model="passwordData.confirmNewPwd"/>
                                <label for="inputError" class="control-label text-danger" ng-show="passwordForm.confirmNewPwd.$invalid && !passwordForm.confirmNewPwd.$pristine"><i class="fa fa-times-circle-o"></i> 两次密码输入不一致</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr/>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit" ng-disabled="passwordForm.$invalid">修改</button>
                        </div>
                    </form>
                </div><!-- End password-tab -->

            </div><!-- End div.tab-content -->
        </div><!-- End div.tab -->
        <% include ../public/modal %>
    </div>
</div>

<script>

    App.controller('MyProfile', function ($scope, $http) {
        var user_id = '<%=userInfo._id%>',
                url = '/api/v1/user';

        $scope.addrFormData = {};
        $scope.addrTargetId = '';
        $scope.passwordData = {};

        $scope.load = function () {
            $scope.profileData = {};
            $("#password input").val('');

            $http.get(url + '/' + user_id).success(function (data) {
                if (typeof data === 'object') {
                    console.log(data);
                    $scope.profileData = data;
//                    $("div.uploaded img").attr("src", data.logo);
                }
            });
        };

        $scope.load();

        $scope.processProfileForm = function (isValid) {
            if (isValid) {
                console.log($scope.profileData);
//                if (!$scope.profileData.logo) {
//                    $("form[name='profileForm'] div.alert-danger").removeClass('hide');
//                    return;
//                }
                angularHttpPost($http, url, $scope.profileData, function (data) {
                    if (data === 'success') {
                        $("form[name='profileForm'] div.alert-success").removeClass('hide');
                        $scope.load();
                    } else {
                        $("form[name='profileForm'] div.alert-danger").removeClass('hide').find('span.text').text(data);
                    }
                });
            }
        };

        $scope.processPwdForm = function (isValid) {
            if (isValid) {
                angularHttpPost($http, url + '?password=1', $scope.passwordData, function (data) {
                    if (data === 'success') {
                        $("form[name='passwordForm'] div.alert-success").removeClass('hide');
                        $scope.load();
                    } else {
                        $("form[name='passwordForm'] div.alert-danger").removeClass('hide').find('span.text').text(data);
                    }
                });
            }
        };

        $scope.processAddrForm = function (isValid) {
            if (isValid) {
                var method = 'PUT',
                        formUrl = url + '/address';
                if ($scope.addrTargetId) {
                    method = 'POST';
                    formUrl = formUrl + '/' + $scope.addrTargetId;
                }
                angularHttp($http, method, formUrl, $scope.addrFormData, function (data) {
                    if (data === 'success') {
                        $("#address div.alert-success").removeClass('hide');
                        $scope.load();
                    } else {
                        $("#address div.alert-danger").removeClass('hide').find('span.text').text(data);
                    }
                });
            }
        };

        initDelete($scope, $http, url + '/address');

        $( 'div.fileinput' ).on( 'change.bs.fileinput', function () {
            // console.log('file selected');
            var logoDUS = $( this ).find( "div.fileinput-preview img").attr( 'src' );
            $scope.profileData.logo = logoDUS;
        });
        $( 'div.fileinput' ).on( 'clear.bs.fileinput', function () {
            // console.log('file clear');
            $scope.profileData.logo = $( "div.uploaded img" ).attr( 'src' );
        });

        // modal
        $("#addressModal").on('show.bs.modal', function (event) {
            var obj = $(event.relatedTarget);
            var addr = obj.data('addr');
            var modalTitle = $(this).find('.modal-title');
            if (addr) {
                modalTitle.text('Edit Address');
                $scope.addrTargetId = addr._id;
                $scope.addrFormData = $.extend({ }, addr);
            } else {
                modalTitle.text('New Address');
                $scope.addrFormData = {};
            }
        }).on('hidden.bs.modal', function (event) {
            $( this ).find( "input" ).val( "" );
            $( this ).find( "input[type='checkbox']" ).prop( "checked", false );
            $scope.addrFormData = {};
            $scope.addrTargetId = '';
            $("div.alert-danger").addClass('hide');
        });

    }).directive( 'pwCheck', [ function ( ) {
        return {
            require: 'ngModel',
            link: function ( scope, elem, attrs, ctrl ) {
                var firstPassword = '#' + attrs.pwCheck;
                elem.add( firstPassword ).on( 'keyup', function ( ) {
                    scope.$apply( function ( ) {
                        var v = elem.val() === $( firstPassword ).val();
                        ctrl.$setValidity( 'pwmatch', v );
                    });
                });
            }
        }
    }]);
</script>
